<main>
    {{#if isPalindrome}}
        <p class = "success">{{phrase}}</p>
        <p>Is '{{phrase}}' a palindrome? True</p>
    {{else}}
        <p class = "failure">{{phrase}}</p>
        <p>Is '{{phrase}}' a palindrome? False</p>
    {{/if}}
    
    <a href ='/static/palindromeChecker.html' class="page-link">Try another palindrome</a>
</main>